html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border-bottom: 1px solid black;
    background-color: rgb(255,90,52);
    display: flex;
    align-items: center;
}

nav {
    padding: 10px;
}

nav a {
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: green;
}

main {
    padding: 15px;
    margin-bottom: 25px;
    flex: 1 0 auto;
}

h1 {
    color: rgb(21,97,82);
    font-variant: small-caps;
    text-shadow: 1px 1px 1px;
}

.recipe-item {
    max-width: 200px;
}

.recipe-item img {
    max-width: 100%;
    height: auto;
}

.recipe-rating {
    margin: 0;
}

footer {
    padding: 15px;
    background-color: rgb(180,207,102);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
}

.recipe-grid {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    justify-items: center;
}

.recipe-ingredients tr:nth-child(even) {
    background-color: rgb(229,229,229);
}
